/* Reset */
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

/* Border Box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Typographic Styles */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 4px 20px;
  border-radius: 4px;
}

.text {
  font-size: 18px;
}

/* Header */

.header,
.hero {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
}

/* Hero */
.heading-1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.hero .text {
  color: #e5e7eb;
}

.btn-primary {
  background-color: #3882f6;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

/* Information section */
.heading-2 {
  color: #1f2937;
  font-weight: extra-bold;
  font-size: 36px;
}

.info .text {
  color: #434343;
}

.info-img {
  border-radius: 8px;
  border: 4px solid #3882f6;
}

/* Testimonial section */
.testimonial {
  background-color: #e5e7eb;
}

.text.quote-text {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.text.quote-source {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}

/* CTA section */
.cta .container {
  background-color: #3882f6;
  border-radius: 4px;
  color: #fff;
}

.heading-3 {
  font-size: 22px;
}

.btn-secondary {
  border: 3px solid #fff;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}

/* Footer */
.footer {
  background-color: #1f2937;
}

.text.small-text {
  color: #e5e7eb;
}

/* Layout */

/* Generic Layout styles */

.container,
.inner-container {
  margin: 0 auto;
}

.container {
  width: 1100px;
}

.inner-container {
  width: 800px;
}
