/* Reset */
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Border Box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Typographic Styles */
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 4px;
}

/* Header */

.header,
.hero {
  background-color: #1f2937;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
}

/* Hero */
.heading-1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.hero .text {
  font-size: 18px;
  color: #e5e7eb;
}

.btn-primary {
  background-color: #3882f6;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
